# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/

# Env
.env
.env.*
!.env.example

# Django
db.sqlite3
staticfiles/
media/

# Dev
.venv/
venv/
*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
